* {
	margin: 0;
	padding: 0;
	border: 0;
}

@media all and (min-width: 1000px) {
	.container {
		margin: auto;
		width: 600px;
	}
}

html {
	font-size: 1.2em;
}

.box {
	background-color: #FFFFFF;
	display: block;
	text-decoration: none;
	color: black;
	font-size: 0.9em;
	margin: 2% 0 2% 0;
	padding: 3%;
}

a.box {
	border-right: 7px solid #800032;
}

.note {
	font-style: italic;
	text-align: center;
}

.notify {
	font-style: italic;
	text-align: center;
	border-color: #CC0000;
	background-color: #FFF9F9;
}

audio {
	margin: auto;
	width: 95%;	
	display: block;
}

#scrollcontainer {
   overflow: auto;
    height: 91%;
    -webkit-overflow-scrolling: touch;
}

h2 {
	font-size: 1.2em;
}


h3 {
	font-size: 1em;
	margin-top: 1em;
}



body {
	font-family: source-sans-pro, serif;
	background-color: #DDDDDD;
}

ul {
	margin-left: 1em;
}

ul.nolist {
	list-style: none;
	margin: 0;
	padding: 0;
}

/**********
 * Header *
 **********/
#header-frame header {
    margin: 0;
    padding: 0;
	background-color: #800032; /*Bordeaux*/
	border-bottom: #CCCCCC solid 1px;
}

#header-frame header ul#menu {
	text-align: justify;
}
@media all and (max-width: 1000px) {
	#header-frame header ul#menu {
		margin: 0 5% 0 5%;
	}
}
#header-frame header ul#menu li {
	display: inline;
}

#header-frame header ul#menu li.line {
	padding: 0 0 0 99%;
	height: 0;
	margin: 0;
	line-height: 0;
	font-size: 0;
}

#header-frame header ul#menu li a img {
	height: 7%;
	margin-top: 5px;
}

/***************
 * Events-View *
 ***************/
#events-view ul li a p.time {
	margin: 0px;
	font-style: italic;
}

#events-view ul li a p.name {
	margin: 0px;
	color: #3333FF;
	font-weight: bold;
}

/*********************
 * Single-Event-View *
 *********************/
#single-event-view p {
	margin: 10px 0 0 0;
}

#single-event-view p a img {
	margin: 10px;
}


/*************
 * News-View *
 *************/
#news-view ul li p {
	margin: 15px 0 0 0;
}

#news-view ul li p.date {
	font-size: 0.9em;
	font-style: italic;
	margin: 0;
	padding: 0;
}


#news-view ul li a.removed {
	font-style: italic;
	text-align: center;
	display: block;
}

/****************
 * Numbers-View *
 ****************/

#numbers-view ul li h2 {
	display: inline-block;
	width: 65%;
}

#numbers-view ul li p.birthday {
	display: inline-block;
	width: 33%;
	font-weight: bold;
	font-style: italic;
	color: #A53838;
	text-align: right;
}

#numbers-view ul li p.phone {
	display: inline-block;
	width: 65%;
}

#numbers-view ul li p.mobile {
	display: inline-block;
	width: 33%;
	text-align: right;
}



/************************
 * Settings-Intern-View *
 ************************/
#intern-view p {
	margin: 10px;
	text-align: center;
	font-size: 0.8em;
}

#intern-view form fieldset input {
	display: block;
	margin: 5%;
	border: 1px solid #CCCCCC;
	font-size: 2em;
	width: 90%;
	padding: 2%;
}